.admin-page {
  display: flex;
}
.admin-container {
  display: flex;
  margin-left: 8rem;
}
.side-nav-content {
  overflow-x: hidden;
  /* flex: 1.2; */
  background-color: #efeded;
  padding: 15px;
  position: fixed;
  overflow-y: hidden;
  height: 100vh;
}
.side-nav-content ul {
  /* height: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-nav-content li {
  margin-bottom: 10px;
}

.link.active {
  color: red;
}
.side-nav-content li a.active {
  color: red;
}
.logOut-btn {
  padding: 0;
  margin: 0;
  color: rgb(240, 159, 159);
  opacity: 1;
  border: none;
  background: transparent;
  transform: opacity;
}
.logOut-btn :hover {
  opacity: 0;
}
.small-icon {
  display: none;
}
